* {
  padding: 0;
  margin: 0;
  
  }
 .container{
  background: linear-gradient(to right bottom, #e9e7e5, #5e5146);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center ;
  text-align: center;
  color: rgb(230, 231, 233);
  overflow: auto;
 
  }
  .app-wrapper {
  background-color: #25393d;
  width: 450px;
  height: 500px;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  overflow: auto;
 
  }
  h1{
    color:#fff;
    font-size: 50px;
    text-align: center;
    
    
  }

  .task-input {
    outline: none;
    width: 360px;
    padding: 15px;
    
    margin-top: 20px;
    font-size: 20px;
    color: rgb(216, 210, 210);
    background-color: rgb(7, 7, 7);
    border: 1px solid #c89666;
    border-radius: 10px;
    
    
  }

  .button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer;
    margin-top: 7px ;
  }

  .list-item{
    display: flex;
    margin: 20px 0;
    border: 1px solid rgb(204, 211, 219);
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
    
  }

  .button-complete,
  .button-delete,
  .button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
    
  }

  
  .button-complete{
    color: #be431e;
    margin-left: 60px;
    
  }

  .button-edit{
    color: #e2d029;
    margin-left: 15PX;
    
  }

  .button-delete{
    color: #29c6e2;
    margin-left: 10px;
    
    
    
  }

  .complete {
    text-decoration-style:solid ;
    text-decoration-line: line-trough;
    text-decoration-color: red;
    opacity: 0.6;
    
  }

  .list{
    width: 220px;
    background-color: #25393d;
    border: none;
    color: #ccc;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
    

  }

  input:focus,
  button:focus{
    outline: none;
  }

  @media screen and  (max-width: 500px) { 
    .app-wrapper{
       width: 350px;
       height: 420px;
    }
    .button-complete{
      margin-left: -35px;
    }

    .task-input {
      width: 300px;
    }

  }

  @media screen and  (max-width: 395px) { 
    .app-wrapper{
       width: 300px;
       height: 380px;
    }
    .button-complete{
      margin-left: -72px;
    }

    .task-input {
      width: 270px;
    }

  }
    
  